{%extends "layout.html"%}
{% block content%}

<body>
    <h2>School TLDR</h2>
    <h3>If you want to be emailed at the start of each day whether you have school virtually or irl, go to the School
        Notification tab on the naviagtion bar.</h3>
    {%endblock content%}
    {%block content1%}
    Aug. 12<br>
    Aug. 13<br>
    Aug. 14<br>
    Aug. 17-21<br>
    Aug. 24-28<br>
    Aug. 31-Sep.4<br>
    Sep. 7-11<br>
    Sep. 14-18<br>
    Sep. 21-25<br>
    Oct. 12-16<br>
    Oct. 19-23<br>
    Oct. 26-29<br>
    Nov. 2-6<br>
    Nov. 9-13<br>
    Nov. 16-20<br>
    Nov. 23-26<br>
    Nov. 30-Dec.4<br>
    Dec. 7-11<br>
    {%endblock content1%}
</body>